<table class="add-exp-table">
  <tbody>
    <tr>
      <td class="td1">*必填欄位</td>
      <td class="td2">請輸入支出</td>
    </tr>
    <tr>
      <td class="td1">名稱* :</td>
      <td class="td2"><input class="add-new-input" type="text"></td>
    </tr>
    <tr>
      <td class="td1">日期* :</td>
      <td class="td2"><input class="add-new-input" type="date"></td>
    </tr>
    <tr>
      <td class="td1">類別* :</td>
      <td class="td2">
        <select class="add-new-input" name="" id="">
          <option value="Select">Select</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="td1">金額* :</td>
      <td class="td2"><input class="add-new-input" type="text"></td>
    </tr>
    <tr>
      <td class="td1"></td>
      <td class="td2"><button class="add-new-btn">新增支出</button></td>
    </tr>
  </tbody>
</table>