<div class="container">
  <div>
    <select class="category-selection" name="" id="">
      <option value="">類別</option>
      <option value="">1</option>
      <option value="">2</option>
    </select>
  </div>
  
  <div class="amount-container"> 
    <span class="amount-title">總金額：</span>
    <p class="totalAmount">25260</p>
  </div>

  <div class="list-container">
    <ul class="expense-list">

      <li class="expense-item-container">
        <div class="expense-item">
          <div class="expense-icon"><i class="fa-solid fa-utensils"></i></div>
          <div class="expense-content">
            <span class="expense-title">午餐</span>
            <span class="expense-date">2019/04/23</span>
          </div>
          <span class="expense-cost">60</span>
        </div>
        <div class="edit-box">
          <form action="">
            <a href="/edit">修改</a>
            <a href="">刪除</a>
          </form>
        </div>
      </li>

    </ul>    
    <a class="btn-addNewExp" href="/new">新增支出</a>
  </div>
</div>