header {
  background-color: #DDDDDD;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-title, .btn-logout {
  margin: 12px;
}

.logo-title {
  font-size: 28px;
  font-weight: 700;
}

.btn-logout {
  font-size: 20px;
}

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}
/* index */

.category-selection {
  width: 300px;
  height: 32px;
}

.expense-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.amount-container {
  display: flex;
  width: 300px;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.totalAmount {
  font-size: 42px;
  flood-color: orangered;
}


.expense-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid red; */
  /* color: red */
}

.expense-icon {
  font-size: 40px;
  text-align: center;
}

.expense-item {
  display: flex;
  align-items: center;
  width: 300px;
  height: 60px;
  /* border: 1px solid red; */
}

.expense-icon, .expense-cost {
  flex: 1
}

.expense-content {
  flex: 3;
  display: flex;
  flex-direction: column;

}

.expense-title {
  font-size: 20px;
  font-weight: 700;
}
.expense-date {
  font-size: 14px;
}
.expense-cost {
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red */
}